<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter new password" required>
        </div><br>
        <div>
            <label for="password">Confirm Password:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Enter Confirm password" required>
        </div><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>