<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:th="http://www.thymeleaf.org"
                th:fragment="Layout(content)">
              
                <head>
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <title>Sign Up</title>
                  <link rel="stylesheet" href="/css/styles.css">
                </head>
                <body>
                  <div class="container">
                
                    <h1>Create Your Account</h1>
                
                    <form class="profile-form" th:action="@{/signup}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input type="text" id="name" th:field="*{name}" placeholder="Enter Your Name" />
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                
                        <div class="form-group">
                            <label for="mobile-no">Mobile No*</label>
                            <input type="number" id="mobile-no" th:field="*{mobile_no}"  placeholder="Mobile No" />
                            <p th:if="${#fields.hasErrors('mobile_no')}" th:errors="*{mobile_no}"></p>
                        </div>
                
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" id="email" th:field="*{email}" placeholder="Enter Email" />
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" id="password" th:field="*{password}" placeholder="Password" />
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password*</label>
                            <input type="password" id="confirm-password" th:field="*{confirm_password}" placeholder="Confirm Password" />
                            <p th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}"></p>
                        </div>
                
                        <button class="continue-button" type="submit">Sign Up</button>
                    </form>
                  </div>
                </body>
                </html>
                
